Upwork AI Automation/Upwork_ Generate Google Doc.json
{
  "name": "Upwork: Generate Google Doc",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -32,
        16
      ],
      "id": "e16d08e1-265c-4c6f-88e0-e006971f2f64",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "acc2f01c-dfec-499e-9bdd-6ae27b811ac9",
              "name": "aboutMe",
              "value": "I’m an automation engineer and AI systems builder specializing in workflow automation, AI agents, and system integrations using tools like n8n, APIs, webhooks, and LLMs. I help founders, agencies, and service businesses eliminate manual work by building reliable automation for job monitoring, outreach, CRM pipelines, notifications (WhatsApp/Email/Slack), and data processing. I design workflows like a software engineer—clean logic, proper error handling, scalable architecture, and real business outcomes—so systems run smoothly without babysitting. If you want smart automation that actually works in production, not just connected blocks, I’m the right fit.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        192,
        16
      ],
      "id": "17ebcc9f-a504-4351-8c35-ab8ec9280ab9",
      "name": "Set 'query' field"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3a0ce0da-7492-4c37-b9f4-1b54bbcb4657",
              "name": "urlOfProposal",
              "value": "=https://docs.google.com/document/d/{{ $json.documentId }}/edit?pli=1&tab=t.0",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1664,
        16
      ],
      "id": "de6f93e8-fb87-4632-8a32-ab691160715a",
      "name": "Set 'urlOfProposal' field"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "GPT-4O"
        },
        "responses": {
          "values": [
            {
              "role": "system",
              "content": "You are a helpful, intelligent proposal writer."
            },
            {
              "content": "=I'm an automation specialist applying to jobs on freelance platforms.\n\nYour task is to take as input an Upwork job description and return as output JSON for a customized proposal (which I'll upload to Google Docs). | High-performing proposals are typically templated as follows:\n\n```\n\n# {titleOfSystem}\n## {briefExplanationOfSystem}\n\nHi. As mentioned, I'm so confident I'm the right fit for this I went ahead and \ncreated a proposal for you, including a step-by-step of how I'd do it.\n\nI've done the below many times and working with {specificPartOfTheirRequest} is \nactually one of my favorite things to do. Talk about serendipity!\n\nAnyway, here's how we'll build {paraphrasedSystem}:\n{stepByStepBulletPoints}\n\nSo basically, {leftToRightFlowWithArrows}.\n\nA little about me:\n{aboutMeBulletPoints}\n\nTo be upfront: my goal is to work with you on a long-term retainer, since I find it \naligns incentives and lets me help clients better. So I'd treat everything we do \ntogether as foundational, and help you build systems that drive revenue/maximize cost \nsavings.\n\nI am really confident I can blow this out of the park for you, so if this sounds like \nsomething you're into, just respond to my proposal on Upwork & we'll take it from \nthere.\n\nThank you for your time!\n\n```\n\nOutput your results in JSON using this format:\n\n{ \n  \"titleOfSystem\": \"\", \n  \"briefExplanationOfSystem\": \"\", \n  \"specificPartOfTheirRequest\": \"\", \n  \"stepByStepBulletPoints\": \"\", \n  \"leftToRightFlowWithArrows\": \"\", \n  \"aboutMeBulletPoints\": \"\", \n}\n\n\nRules:\n- Write in a casual, spartan tone of voice.\n- Don't use emojis or flowery language.\n- If there's a name included somewhere in the description, add it for personalization purposes.\n- Return \"stepByStepBulletPoints\" and \"aboutMeBulletPoints\" as strings, and delimit each bullet point with a \\n and make sure it includes a -\n- In \"aboutMeBulletPoints\", prefer to mention social proof that includes $ and numbers.\n- For \"leftToRightFlowWithArrows\", write a simplified left to right flow delimited by \"->\" strings. For instance, we receive a new email -> we add that to the CRM -> we send an email to the new lead.\n- Use first-person \"I\" language, like \"I'd streamline...\" for bullet points etc.\n\nSome facts about me for the personalization: {{ $json.aboutMe }}\n\nNote: You must return a single valid JSON object that can be parsed by JSON.parse()."
            },
            {
              "content": "={\"jobDescription: \"{{ $('When Executed by Another Workflow').item.json.query }}\"}"
            }
          ]
        },
        "builtInTools": {},
        "options": {
          "textFormat": {
            "textOptions": {
              "type": "json_schema"
            }
          },
          "temperature": 0.7
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        416,
        16
      ],
      "id": "61c27f7a-62c7-49f3-9bc2-dced05976b0c",
      "name": "Generate Doc Variable Json",
      "credentials": {
        "openAiApi": {
          "id": "SeDUiAJYJHLCS9Pi",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentURL": "={{ $('Copy Template').item.json.id }}",
        "actionsUi": {
          "actionFields": [
            {
              "action": "replaceAll",
              "text": "{{titleOfSystem}}",
              "replaceText": "={{ $('Parse the string (into JSON)').item.json.titleOfSystem }}"
            },
            {
              "action": "replaceAll",
              "text": "{{briefExplanationOfSystem}}",
              "replaceText": "={{ $('Parse the string (into JSON)').item.json.briefExplanationOfSystem }}"
            },
            {
              "action": "replaceAll",
              "text": "{{specificPartOfTheirRequest}}",
              "replaceText": "={{ $('Parse the string (into JSON)').item.json.specificPartOfTheirRequest }}"
            },
            {
              "action": "replaceAll",
              "text": "{{stepByStepBulletPoints}",
              "replaceText": "={{ $('Parse the string (into JSON)').item.json.stepByStepBulletPoints }}"
            },
            {
              "action": "replaceAll",
              "text": "{{leftToRightFlowWithArrows}}",
              "replaceText": "={{ $('Parse the string (into JSON)').item.json.leftToRightFlowWithArrows }}"
            },
            {
              "action": "replaceAll",
              "text": "{{aboutMeBulletPoints}",
              "replaceText": "={{ $('Parse the string (into JSON)').item.json.aboutMeBulletPoints }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        1440,
        16
      ],
      "id": "6cfbae77-d8e7-4253-9fae-5cadf1a3df0c",
      "name": "Replace template variables",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "hFTjX1qEyAnKyoDs",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "operation": "copy",
        "fileId": {
          "__rl": true,
          "value": "16EwZPJVgPWizxWM5p-sjJM9UlTD4b6V6tTcsOJSJ7Co",
          "mode": "list",
          "cachedResultName": "Upwork Proposal Doc Template",
          "cachedResultUrl": "https://docs.google.com/document/d/16EwZPJVgPWizxWM5p-sjJM9UlTD4b6V6tTcsOJSJ7Co/edit?usp=drivesdk"
        },
        "name": "={{ $json.titleOfSystem }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        992,
        16
      ],
      "id": "cd5c1e7e-b1ea-4b2a-83f1-a1208f6e989d",
      "name": "Copy Template",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "XMOdbMW7cSFboovO",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "share",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "permissionsUi": {
          "permissionsValues": {
            "role": "reader",
            "type": "anyone"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1216,
        16
      ],
      "id": "e604eaa7-97a1-4555-84d0-bb1449e3979e",
      "name": "Share the new proposal doc",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "XMOdbMW7cSFboovO",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const raw =\n  $input.first().json.output[0].content[0].text.message;\n\n// Remove trailing commas before } or ]\nconst cleaned = raw.replace(/,\\s*([}\\]])/g, '$1');\n\nreturn JSON.parse(cleaned);\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        768,
        16
      ],
      "id": "06eadf84-f3f2-4144-8304-947554afacd6",
      "name": "Parse the string (into JSON)"
    }
  ],
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "query": "We are looking for a high-level Senior AI & Automation Engineer to architect and build next-generation Multimodal Agentic Workflows. We need someone who understands that modern automation isn't just about moving data from A to B, but about using Large Language Models (LLMs) to make decisions, categorize content, and handle unstructured data autonomously. An expert who builds autonomous systems capable of reasoning, decision-making, and performing complex Generative AI tasks (Image, Voice, and Video) within a unified automation framework.\n\nKey Responsibilities\n- Workflow Architecture: Design and implement complex workflows in n8n, Zapier, or Make.com.\n- LLM Integration: Integrate OpenAI (GPT-4o), Claude 3.5, or Gemini into workflows for intelligent decision-making and content processing.\n- Agentic Frameworks: Build systems where AI agents can \"use tools\" (API calls, web searches) to complete multi-step tasks.\n- Data Routing: Using AI for classification and sentiment analysis to route leads or support tickets within our stack (e.g., HubSpot/Slack).\n- API Management: Connecting custom endpoints and managing authentication between various SaaS platforms.\n- Multimodal Generation: Integrate generative pipelines for:\n  - Image: Stable Diffusion, Midjourney, or DALL-E 3.\n  - Voice: ElevenLabs, Play.ht, or OpenAI TTS.\n  - Video: HeyGen, Runway, or Sora.\n- Autonomous Agents: Architect agents that use tools, browse the web, and execute multi-step logic autonomously.\n- LLM & Vision Integration: Implement reasoning chains using GPT-4o, Claude 3.5, and vision models for media analysis.\n- Backend & Infrastructure: Maintain APIs using FastAPI/Django and manage memory via Vector Databases (Pinecone, Weaviate).\n\nRequired Skills & Experience\n- Expertise in n8n (custom nodes, advanced expressions) and Python-based automation.\n- Deep experience with Generative AI APIs across all modalities (Text, Image, Audio, Video).\n- Strong backend engineering: FastAPI/Django, Docker, and robust API design.\n- Proficiency in NLP/CV libraries (OpenCV, YOLO, Transformers, LangChain).\n- Experience building Autonomous Agents with recursive logic or specialized frameworks (CrewAI, AutoGPT).\n- Strong understanding of JSON, Webhooks, and REST APIs.\n- Experience with RAG (Retrieval-Augmented Generation) and vector databases is a major plus.\n\nApplication Instructions\nPlease start your proposal with the word \"MULTIMODAL\" so I know you’ve read the full description.\n\nIn your proposal, please answer:\n1. Describe an autonomous agent you've built that uses external tools to complete a goal.\n2. How do you pipeline image or video generation into a high-volume automated workflow?\n3. What is your strategy for managing state/memory in multi-stage agentic loops?"
        }
      }
    ]
  },
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Set 'query' field",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set 'query' field": {
      "main": [
        [
          {
            "node": "Generate Doc Variable Json",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Doc Variable Json": {
      "main": [
        [
          {
            "node": "Parse the string (into JSON)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Replace template variables": {
      "main": [
        [
          {
            "node": "Set 'urlOfProposal' field",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Copy Template": {
      "main": [
        [
          {
            "node": "Share the new proposal doc",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Share the new proposal doc": {
      "main": [
        [
          {
            "node": "Replace template variables",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse the string (into JSON)": {
      "main": [
        [
          {
            "node": "Copy Template",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "3b54083a-9970-433c-9b5a-1f297fc0f201",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a8c5b3f7b06ab88c9bd40533a42c8fac4057dbe31e8479f6d8649a3b77c3c790"
  },
  "id": "s0x1q_94QKP2MQaLD7t9l",
  "tags": [
    {
      "updatedAt": "2026-01-09T07:05:57.245Z",
      "createdAt": "2026-01-09T07:05:57.245Z",
      "id": "k3xlm8NSXEKWQRNe",
      "name": "Upwork"
    }
  ]
}